.blog-list {
  padding-top: 180px;
  @include adaptive(tabletLandscape, tabletPortrait) {
    padding-top: 120px;
  }
  @include adaptive(phoneLandscape, phonePortrait) {
    padding-top: 60px;
  }
  .container {
    .title-wrap {
      display: flex;
      align-items: flex-end;
      gap: 30px;
      .title {
        @include fontHeading($s: 80px, $w: 600, $lh: 100%);
        letter-spacing: -2.4px;

        color: $white;
        @include adaptive(phoneLandscape, phonePortrait) {
          @include fontHeading($s: 65px, $w: 600, $lh: 100%);
        }
      }
      .link {
        @include gothamReg($s: 16px, $lh: 90%);
        text-decoration-line: underline;
        color: $whiteDark;
        transition: 0.3s;
        @include adaptive(phoneLandscape, phonePortrait) {
          display: none;
        }
        &:hover {
          color: $white;

          transition: 0.3s;
        }
      }
    }
    .list {
      margin-top: 60px;
      width: 100%;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      @include adaptive(phoneLandscape, phonePortrait) {
        margin-top: 30px;
      }
      &__item {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding: 25px 0;
        width: 100%;
        display: flex;
        position: relative;
        @include adaptive(
          tabletLandscape,
          tabletPortrait,
          phoneLandscape,
          phonePortrait
        ) {
          gap: 10px;
          flex-direction: column;
        }
        &:hover {
          .name-wrap {
            .title {
              color: $gold;
              transition: 0.3s;
            }
          }
          .arr {
            path {
              stroke: $gold;
              transition: 0.3s;
            }
          }
          .deskr {
            color: $gold;
            transition: 0.3s;
          }
        }
        .name-wrap {
          display: flex;
          width: 55%;
          align-items: flex-start;
          gap: 20px;
          @include adaptive(tabletLandscape, tabletPortrait) {
            width: fit-content;
            max-width: 90%;
          }
          @include adaptive(phoneLandscape, phonePortrait) {
            flex-direction: column-reverse;
            max-width: 100%;
            gap: 15px;
            width: 100%;
          }
          .title {
            @include gothamBold($s: 40px, $lh: 110%);
            max-width: 425px;
            overflow: hidden;
            text-overflow: ellipsis;
            color: $white;
            white-space: nowrap;
            transition: 0.3s;
            @include adaptive(tabletLandscape, tabletPortrait) {
              width: 100%;
              max-width: 100%;
            }
            @include adaptive(phoneLandscape, phonePortrait) {
              width: 100%;
              max-width: 100%;
              @include gothamBold($s: 30px, $lh: 110%);
            }
          }
          .date {
            @include gothamReg($s: 12px, $lh: 150%);
            color: $whiteDark;
          }
        }
        .deskr {
          max-width: 440px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          @include gothamReg($s: 16px, $lh: 150%);
          color: $whiteDark;
          transition: 0.3s;
          @include adaptive(phoneLandscape, phonePortrait) {
            max-width: 80%;
            @include gothamReg($s: 14px, $lh: 150%);

            -webkit-line-clamp: inherit;
          }
        }
      }
      .arr {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        @include adaptive(
          tabletLandscape,
          tabletPortrait,
          phoneLandscape,
          phonePortrait
        ) {
          right: 0;
          top: auto;
          bottom: 12px;
          transform: translateY(0%);
        }
        path {
          stroke: $whiteDark;
          transition: 0.3s;
        }
      }
    }
  }
}
