.contact-from {
  padding-top: 110px;
  @include adaptive(phoneLandscape, phonePortrait) {
    padding-top: 70px;
  }
  .container {
    display: flex;
    @include adaptive(
      tabletLandscape,
      tabletPortrait,
      phoneLandscape,
      phonePortrait
    ) {
      flex-direction: column;
    }
    .content-item {
      width: 50%;
      @include adaptive(
        tabletLandscape,
        tabletPortrait,
        phoneLandscape,
        phonePortrait
      ) {
        width: 100%;
      }
      &:nth-child(1) {
        padding-right: 75px;
        @include adaptive(
          tabletLandscape,
          tabletPortrait,
          phoneLandscape,
          phonePortrait
        ) {
          padding-right: 0px;
          margin-bottom: 50px;
        }
      }
      &:nth-child(2) {
        background-color: $goldDark;

        position: relative;
        @include adaptive(phoneLandscape, phonePortrait) {
          display: flex;
          flex-direction: column-reverse;
        }
      }
      .form-title {
        @include fontHeading($s: 45px, $w: 500, $lh: 110%);
        margin-bottom: 50px;
        @include adaptive(phoneLandscape, phonePortrait) {
          @include fontHeading($s: 30px, $w: 500, $lh: 110%);
          margin-bottom: 30px;
        }
      }
      .input-wrap {
        display: flex;
        flex-direction: column;
        gap: 6px;
        margin-bottom: 20px;
        label {
          @include gothamReg($s: 14px, $lh: 150%);
          color: $blackLight;
        }
        input {
          padding: 12px 16px;
          width: 100%;
          @include gothamReg($s: 16px, $lh: 150%);
          color: $whiteDark;

          border-radius: 30px;
          border: 1px solid #e7e7e7;
          background-color: $white;
        }
      }
      .check-wrap {
        display: flex;
        gap: 15px;
        align-items: center;
        margin-bottom: 15px;
        input {
          width: 20px;
          height: 20px;
          border-radius: 6px;
          border: 1px solid #e7e7e7;
          background: $white;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          cursor: pointer;
          &::after {
            content: url("../imgs/Checkbox.svg");
            display: none;
          }
          &:hover {
            border: 1px solid $gold;
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
          }
        }
        input[type="checkbox"]:checked {
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
          &::after {
            display: block;
          }
        }
        label {
          max-width: 90%;
          @include gothamReg($s: 12px, $lh: 150%);
          color: rgba(123, 123, 123, 0.7);
        }
      }
      .submit {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        border-radius: 30px;
        background-color: $gold;
        color: $white;
        @include gothamBold($s: 16px, $lh: 150%);
        border: none;
        outline: none;
        margin-top: 20px;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          transition: 0.3s;
          background-color: $blackLight;
        }
      }
    }
    .img-wrap {
      max-width: 450px;
      position: absolute;
      left: -20px;
      bottom: 0;
      height: auto;
      overflow: hidden;
      @include adaptive(
        tabletLandscape,
        tabletPortrait,
        phoneLandscape,
        phonePortrait
      ) {
        position: static;
      }
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
    .text-wrap {
      position: absolute;
      right: 20px;
      top: 0;
      padding-top: 50px;
      max-width: 230px;
      @include adaptive(phoneLandscape, phonePortrait) {
        position: static;
        padding: 50px 20px 0 20px;
        max-width: 100%;
      }
      p {
        @include gothamReg($s: 17px, $lh: 150%);
        color: $white;
        opacity: 0.7;
      }
      img {
        position: absolute;
        left: 0;
        top: -10px;
        @include adaptive(phoneLandscape, phonePortrait) {
          left: 20px;
        }
      }
    }
    .phone-wrap {
      position: absolute;
      right: 20px;
      bottom: 20px;
      @include gothamReg($s: 14px, $lh: 150%);
      color: $white;
    }
  }
}
