.location {
  padding-top: 80px;
  .container {
    .title-wrap {
      mix-blend-mode: luminosity;
      position: relative;

      opacity: 0.1;
      .title {
        @include fontHeading($s: 180px, $w: 500, $lh: 90%);
        letter-spacing: -5.746px;
        color: $gold;
        padding: 70px 0;
        background-image: url("../imgs/gifTitle.gif");
        background-size: cover;
        color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        @include adaptive(tabletLandscape, tabletPortrait) {
          @include fontHeading($s: 96px, $w: 500, $lh: 100%);
          letter-spacing: -2.419px;
          padding: 30px 0;
        }
        @include adaptive(phoneLandscape, phonePortrait) {
          @include fontHeading($s: 82px, $w: 500, $lh: 100%);
          letter-spacing: -2.419px;
          padding: 20px 0;
        }
      }
    }
    .content-wrap {
      display: flex;
      margin-top: 100px;
      @include adaptive(tabletLandscape, tabletPortrait) {
        margin-top: 50px;
      }
      @include adaptive(
        tabletLandscape,
        tabletPortrait,
        phoneLandscape,
        phonePortrait
      ) {
        flex-direction: column;
        position: relative;
        padding-bottom: 40px;
      }
      @include adaptive(phoneLandscape, phonePortrait) {
        @include fontHeading($s: 82px, $w: 500, $lh: 100%);
        margin-top: 50px;
      }
      .content__item {
        width: 70%;
        padding-left: 20px;
        @include adaptive(
          tabletLandscape,
          tabletPortrait,
          phoneLandscape,
          phonePortrait
        ) {
          width: 100%;
          padding-left: 0px;
        }
        &:nth-child(1) {
          padding-left: 0px;
          width: 30%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          @include adaptive(
            tabletLandscape,
            tabletPortrait,
            phoneLandscape,
            phonePortrait
          ) {
            width: 100%;
            padding-left: 0px;
          }
        }
        .small-title {
          @include gothamBold($s: 16px, $lh: 90%);
          color: $blackLight;
          @include adaptive(
            tabletLandscape,
            tabletPortrait,
            phoneLandscape,
            phonePortrait
          ) {
            margin-bottom: 40px;
          }
        }
        .stiker {
          display: flex;
          gap: 5px;
          align-items: center;
          color: $gold;
          @include gothamBold($s: 16px, $lh: 90%);
          @include adaptive(
            tabletLandscape,
            tabletPortrait,
            phoneLandscape,
            phonePortrait
          ) {
            position: absolute;
            bottom: 0;
          }
        }
        .title {
          margin-bottom: 30px;
          .gold {
            color: $gold;
          }
        }
        .paragraf {
          @include gothamReg($s: 16px, $lh: 150%);
          color: $whiteDark;
          margin-bottom: 15px;
          &:nth-last-child(1) {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
  #map {
    max-width: 1340px;
    margin: 80px auto 0 auto;
    width: 100%;
    background: #d9d9d9;
    height: 600px;
  }
}
